/* app css stylesheet */

.green  { background: #b9f6ca; }
.yellow { background: #ffff8d; }
.blue   { background: #84ffff; }
.purple { background: #b388ff; }
.red    { background: #ff8a80; }
.black  { background: black;   }

.selectedtile { background: orange; }
